
    <div class="row">
        <div class="offset-md-4 col-md-4">
            <div class="form-login">
            <h4>Welcome back.</h4>
            <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="username" />
            
            <input type="text" id="userPassword" class="form-control input-sm chat-input" placeholder="password" />
            
            <div class="wrapper">
            <span class="group-btn">     
                <a href="#" class="btn btn-primary btn-md">login <i class="fa fa-sign-in"></i></a>
            </span>
            </div>
            </div>
        
        </div>
        
    </div>

